<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Détails du Jeu</title>
</head>
<body>
  <h1>Détails du Jeu : {{game.title}}</h1>

  <h2>Informations Générales</h2>
  <p><strong>Titre :</strong> {{game.title}}</p>
  <p><strong>Description :</strong> {{game.description}}</p>
  <p><strong>Date de sortie :</strong> {{dateFormat game.releaseDate}}</p>

  <h2><a href="/genres">Genre</a></h2>
  <p><strong><a href="/jeux/genres/{{game.genre.id}}">{{game.genre.name}}</a></strong></p>

  <h2><a href="/editeurs">Éditeur</a></h2>
  <p><strong><a href="/jeux/editeurs/{{game.publisher.id}}">{{game.publisher.name}}</a></strong></p>

  <h2>Mise en Avant ? </h2>
  <p><strong>{{#if jeux.mise_en_avant}}
            Oui
            {{else}}
            Non
            {{/if}}</strong></p>

  <form action="/jeux/{{game.id}}/delete" method="POST" onsubmit="return confirmDelete()">
  <button type="submit" style="color: red;">Supprimer</button>
  </form>

<script>
  function confirmDelete() {
    return confirm("Êtes-vous sûr de vouloir supprimer ce jeu ?");
  }
</script>

  <a href="/jeux/{{game.id}}/edit">Modifier le Jeu</a>

  <br/>
  <a href="/jeux">Retour à la liste des jeux</a>
</body>
</html>