<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Détails du Jeu</title>
</head>
<body>
  <h1>Détails du Jeu : {{game.title}}</h1>

  <h2>Informations Générales</h2>
  <p><strong>Titre :</strong> {{game.title}}</p>
  <p><strong>Description :</strong> {{game.description}}</p>
  <p><strong>Date de sortie :</strong> {{dateFormat game.releaseDate}}</p>

  <h2>Genre</h2>
  <p><strong>{{game.genre.name}}</strong></p>

  <h2>Éditeur</h2>
  <p><strong>{{game.publisher.name}}</strong></p>

  <h2>Mise en Avant ? </h2>
  <p><strong>{{#if games.mise_en_avant}}
            Oui
            {{else}}
            Non
            {{/if}}</strong></p>

  <form action="/games/{{game.id}}/delete" method="POST" onsubmit="return confirmDelete()">
  <button type="submit" style="color: red;">Supprimer</button>
  </form>

<script>
  function confirmDelete() {
    return confirm("Êtes-vous sûr de vouloir supprimer ce jeu ?");
  }
</script>

  <a href="/games/{{game.id}}/edit">Modifier le Jeu</a>

  <br/>
  <a href="/games">Retour à la liste des jeux</a>
</body>
</html>
