<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vapeur - Tous les Jeux</title>
</head>
<body>
  <h1>Liste des Jeux</h1>
  <table border="1" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Genre</th>
        <th>Éditeur</th>
        <th>Description</th>
        <th>Mise en Avant ?</th>
      </tr>
    </thead>
    <tbody>
      {{#each games}}
        <tr>
          <td><a href="/games/{{this.id}}">{{this.title}}</a></td> <!-- Lien vers les détails du jeu -->
          <td>{{this.genre.name}}</td>
          <td>{{this.publisher.name}}</td>
          <td>{{this.description}}</td>
          <td>{{#if games.mise_en_avant}}
            Oui
            {{else}}
            Non
            {{/if}}</td>
          <td>
          <a href="/games/{{this.id}}/edit">Modifier</a>
          <form action="/games/{{this.id}}/delete" method="POST" onsubmit="return confirmDelete()">
            <button type="submit" style="color: red;">Supprimer</button>
          </form>
        </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <script>
  function confirmDelete() {
    return confirm("Êtes-vous sûr de vouloir supprimer ce jeu ?");
  }
</script>
  <a href="/">Retour à l'accueil</a>
</body>
</html>



