<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Vapeur - Tous les Jeux</title>
</head>
<body>
  <h1>Liste des Jeux</h1>
  <table border="1" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>Titre</th>
        <th><a href="/genres">Genre</a></th>
        <th><a href="/editeurs">Éditeur</a></th>
        <th>Description</th>
        <th>Mise en Avant ?</th>
      </tr>
    </thead>
    <tbody>
      {{#each jeux}}
        <tr>
          <td><a href="/jeux/{{this.id}}">{{this.title}}</a></td> <!-- Lien vers les détails du jeu -->
          <td><a href="/jeux/genres/{{this.genre.id}}">{{this.genre.name}}</a></td>
          <td><a href="/jeux/editeurs/{{this.publisher.id}}">{{this.publisher.name}}</a></td>
          <td>{{this.description}}</td>
          <td>{{#if this.mise_en_avant}}
            Oui
            {{else}}
            Non
            {{/if}}</td>
          <td>
          <a href="/jeux/{{this.id}}/edit">Modifier</a>
          <form action="/jeux/{{this.id}}/delete" method="POST" onsubmit="return confirmDelete()">
            <button type="submit" style="color: red;">Supprimer</button>
          </form>
        </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <script>
  function confirmDelete() {
    return confirm("Êtes-vous sûr de vouloir supprimer ce jeu ?");
  }
</script>
  <a href="/jeux/new">Ajouter un jeu</a>
  <br/>
  <a href="/">Retour à l'accueil</a>
</body>
</html>



