<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier un Jeu</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Modifier le Jeu</h1>
  <form action="/jeux/{{jeu.id}}/edit" method="POST">
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" value="{{jeu.title}}" required><br>

    <label for="description">Description :</label>
    <textarea id="description" name="description" required>{{jeu.description}}</textarea><br>

    <label for="releaseDate">Date de sortie :</label>
    <input type="date" id="releaseDate" name="releaseDate" value="{{dateFormat jeu.releaseDate}}" required><br>


<label for="genre">Genre :</label>
<select id="genre" name="genreId" required>
  {{#each genres}}
    <option value="{{this.id}}" >{{this.name}}</option>
  {{/each}}
</select><br>

<label for="publisher">Éditeur :</label>
<select id="publisher" name="publisherId" required>
  {{#each editeurs}}
    <option value="{{this.id}}" >{{this.name}}</option>
  {{/each}}
</select><br>

  <label for="mise_en_avant">Mettre en avant ce jeu ?</label>
      <input type="checkbox" name="mise_en_avant"><br>

      <button type="submit">Sauvegarder</button>
    </form>

  <form action="/jeux/{{jeu.id}}/delete" method="POST" onsubmit="return confirmDelete()">
  <button type="submit" style="color: red;">Supprimer</button>
  </form>

<script>
  function confirmDelete() {
    return confirm("Êtes-vous sûr de vouloir supprimer ce jeu ?");
  }
</script>
  


  <a href="/jeux">Retour à la liste des jeux</a>
</body>
</html>
